<table id="jobsTable" border="1">
    <!-- we track each job by its href link, otherwise angularjs will add $$hashkey to each job which somehow will be stored in the database and give duplicate hash key error -->
    <!-- we need to find out why this happens -->
    <tr class="repeated-item" ng-repeat="job in jobs track by job.href">
        <td>
            <div id="jobDescriptionHead">
                <img id="logo" ng-src="{{job.img}}" />
                <a id="jobTitle" href="#" ng-click="openUrl(job)">{{job.title}}</a>
                <img id="jobStatusLogo" ng-if="job.isNew" ng-src="images/open-logo.png" />
                <img id="jobStatusLogo" ng-if="job.isUpdated" ng-src="images/update-logo.png" />
                <img id="jobStatusLogo" ng-if="job.isClosed" ng-src="images/close-logo.png" />
                <!--span ng-if="job.isNew" class="newJob">NEW<br/></span>
                <span ng-if="job.isUpdated" class="updatedJob">UPDATED<br/></span-->
            </div>
            <div id="jobDescriptionBody">
                <b>Location:</b> {{job.location | NullFilter}}<br/>
                <b>Expertise:</b> {{job.expertise | NullFilter}}<br/>
                <b>Work Type:</b> {{job.workType | NullFilter}}<br/>
                <b>Level:</b> {{job.level | NullFilter}}<br/>
                <b>Posted Date:</b> {{job.postedDate | NullFilter}}<br/>
                <b>Close Date:</b> {{job.closeDate | NullFilter}}<br/>
            </div>

            <div id="jobDescriptionButton">
                <button ng-if="job.isFollowed" ng-click="unFollowJob(job)">UnFollow</button>
                <button ng-if="job.isFollowed == false" ng-click="followJob(job)">Follow</button>
                <button ng-click="showJson(job)">Show Json</button>
            </div>
        </td>
    </tr>
</table>
